/* Container to center the form */
.register-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;

  }
  
  /* Form styling */
  .register-form {
    background-color: white;
    padding:32px;
    padding-right:32px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 350px;
    max-width: fit-content;
  }
  
  /* Title */
  .form-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
    color: #1a202c;
  }
  
  /* Error message */
  .error-message {
    color: red;
    margin-bottom: 16px;
    text-align: center;
  }
  
  /* Input fields */
  .input-style {
    display: block;
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  /* Submit button */
  .submit-btn {
    background-color: #4f46e5;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #4338ca;
  }
  